#navigation > ul > li{
    display: inline-block;
}

#navigation > ul > li > a{
    text-decoration: none;
    color: #6066f2;
    line-height: 40px;
    font-weight: bold;
    font-size: 15px;
    padding: 0 5px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

#navigation > ul > li > a:hover{
    color: #8a378d;
    border-bottom: 1px dotted #8a378d;
    border-top: 1px dotted #8a378d;
    padding: 10px 15px;
}

.button{
    width: 150px;
    height: 40px;
    border-radius: 23px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #f4891f;
    color: #fff;
    border: none;
    font-size: 12px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.button > img{
    height: 20px;
    vertical-align: middle;
}

.button:hover{
    background-color: #8a378d;
}

#article > span{
    width: 444px;
    height: 343px;
    opacity: 0.35;
    font-size: 288px;
    font-weight: bold;
    letter-spacing: 80px;
    text-align: center;
    color: #dbdbdb;
    position: absolute;
    z-index: -1;
    margin-top: 90px;
}

#article > h1{
    width: 504px;
    height: 183px;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    color: #488cf5;
    margin-top: 130px;
  }

  #article > h2{
    width: 512.4px;
    height: 90.7px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #adadad;
}

.send-message{
    width: 504px;
    height: 51px;
    border-radius: 26px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
}


.send-message > i > img{
    padding-left: 15px;
    position: relative;
    top: 5px;
}

.send-message input{
    padding: 17px 10px;
    border: none;
    width: 353px;
}

.send-message button{
    width: 80px;
    height: 45px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    background-color: #488cf5;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.send-message button:hover{
    background-color: #f4891f;
}

.modalDialog{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    pointer-events: none;

}

.modalDialog:target{
    opacity: 1;
    pointer-events: auto;
}

.body-modal{
    background-color: #fff;
    width: 500px;
    height: 300px;
    position: relative;
    margin: 10% auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: center;
}

.phone-msg{
    position: absolute;
    top: 0;
    left: 10px;
    height: 300px;
    z-index: 1;
    opacity: .5;
}

.side-left{
    width: 45%;
    background-color: #488cf5;
    padding-top: 130px;
    opacity: .5;
}

.side-left > h1{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.side-right{
    width: 55%;
    padding-top: 130px;
}

.side-right > p{
    font-weight: bold;
}

.closeModal{
    background-color: #6066f2;
    color: #fff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
}

.closeModal:after{
    content: "\d7";
}

.closeModal:hover{
    background-color: #f4891f;
}